<!DOCTYPE html>
<html>

<head>
    <title>About Us</title>

    <!-- Use of external css -->
    <link rel="stylesheet" href="../static/styles/style-about_us.css">
</head>

<body>

    <div class="container">

        <header>
            <div class="header-div1">
                
                <div class="header-left">
                    <img src="../static/images/full_logo.png" width="400px">
                </div>

            </div>

            <div class="header-div2">
                <div class="menu-item" onclick="location.href = '/home'">
                    HOME
                </div>

                <div class="menu-item">
                    ABOUT US
                </div>
            </div>

            <div class="header-div3">
                ABOUT US
            </div>

        </header>

        <main>


            <div class="content">
                        
                <div id="section1">
                    <div class="heading">
                        Core details
                    </div><hr>

                    <p class="subheading"> Name of the project:</p>
                    <p class="value">Disease Outbreak Detection Sytem </p><br>
                    <p class="subheading"> Course: </p>
                    <p class="value">Web Technologies and Applications (WTA- IT254)</p><br>
                    <p class="subheading"> Semester: </p>
                    <p class="value">Fourth</p><br>
                    <p class="subheading"> Institution: </p>
                    <p class="value">National Institute of Technology, Karnataka</p><br>
                    <p class="subheading"> Group Members:</p>
                    <p class="value">
                        Pratham Nayak    (191IT241)<br>
                        Aprameya Dash    (191IT209)<br>
                        Suyash Chintawar (191IT109)<br>
                    </p>

                    <br><br>
    
                </div>


                <div id="section2">
                    <div class="heading">
                        Purpose
                    </div><hr>

                    <p>This project was created as a mini project for the partial fulfillment of the course IT254- Web Technologies and Applications by integrating concepts of web development, deep learning, plot creation and presentation etc.</p>

                    <br><br>
    
                </div>

            </div>

        </main>

        <footer>
            Thanks for visiting aur web page! We hope it was a smooth and helpful experience!
        </footer>

    </div>

</body>

</html>