<!DOCTYPE html>
<html>

<head>
    <title>About Us</title>

    <!-- Use of external css -->
    <link rel="stylesheet" href="../static/styles/style-about_us.css">
</head>

<body>

    <div class="container">

        <header>
            <div class="header-div1">
                
                <div class="header-left">
                    <img src="../static/images/full_logo.png" width="400px">
                </div>

            </div>

            <div class="header-div2">
                <div class="menu-item" onclick="location.href = '/home'">
                    HOME
                </div>

                <div class="menu-item">
                    ABOUT US
                </div>
            </div>

            <div class="header-div3">
                ABOUT US
            </div>

        </header>

        <main>


            <div class="content">
                        
                <div id="section1">
                    <div class="heading">
                        Core details
                    </div><hr>

                    <p class="detail", style="font-size: 18px;"> <b>Name of the project:</b> Disease Outbreak Detection System</p>
                    <p class="detail" , style="font-size: 18px;"> <b>Course: </b> Web Technologies and Applications (WTA- IT254)</p>
                    <p class="detail" , style="font-size: 18px;"> <b>Semester: </b> Fourth </p>
                    <p class="detail" , style="font-size: 18px;"> <b>Institution: </b> National Institute of Technology, Karnataka </p>
                    <p class="detail" , style="font-size: 18px;"> <b>Group Members:</b></p>
                    <p class="detail" , style="font-size: 18px;">
                        Pratham Nayak    (191IT241)<br>
                        Aprameya Dash    (191IT209)<br>
                        Suyash Chintawar (191IT109)<br>
                    </p>

                    <br><br>
    
                </div>


                <div id="section2">
                    <div class="heading">
                        Purpose
                    </div><hr>

                    <p>This project was created as a mini project for the partial fulfillment of the course IT254- Web Technologies and Applications by integrating concepts of web development, deep learning, data analytics etc.</p>

                    <br><br>
    
                </div>

            </div>

        </main>

        <footer>
            Thanks for visiting aur web page! We hope it was a smooth and helpful experience!
        </footer>

    </div>

</body>

</html>