
<!DOCTYPE html>
<html>

<!-- head -->
<head>
    <!-- Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!-- Title -->
    <title> Sign up </title>

    <!-- Use of external css -->
    <link rel="stylesheet" href="../static/styles/style-login_signup.css">

</head>

<!-- body -->
<body>

    <div class="container">

        <!-- Main content -->
        <div class="content">

            <div class="logo_holder">
                <img src="../static/images/logo.png" alt="Logo" class="logo">
            </div>

            <p class="heading">Signup Now!</p>

            <!-- signup form -->
            <form method="POST" action="/home" onsubmit="return validateForm(this)">
                <p><input type="text" class="input-field" name="username" placeholder="Name" required onchange="validate(this, true)"></p>
                <p><input type="email" class="input-field" name="email" placeholder="Email" required onchange="validate(this, true)"></p>
                <p><input type="password" class="input-field" name="password1" placeholder="Password" required onchange="validate(this, true)"></p>
                <p><input type="password" class="input-field" name="password2" placeholder="Re- enter Password" required onchange="validate(this, true)"></p>

                <p><input type="submit" class="button-blue" name="submit" value="Sign up"></p>

            </form>

            <!-- Link to go to login page -->
            <div class="link-container">
                <p>
                    <a href="/login">Already registered? Login now!</a>
                </p>
            </div>

        </div>

        
    </div>

    <script src="../static/scripts/script-signup.js"></script>
</body>

</html>