body
{
    background-color: whitesmoke;
    font-family: 'Lucida Grande', Tahoma, Verdana, sans-serif;
    font-size: 16px;
}

.header-div1
{
    background-color: white;
    padding: 20px;
    overflow: hidden;
}

.header-left
{
    float: left;
}

.header-right1
{
    float: right;
}

.header-right2
{
    float: right;
}

.button-blue
{ 
    background-color: #144da3; 
    color: white; 
    padding: 14px 20px; 
    margin-top: 30px;
    margin-left: 30px;
    border: none; 
    cursor: pointer; 
    width: 150px; 
} 

.button-blue:hover
{
    opacity: 0.8;
}

.header-div2
{
    background-color: blue;
    color: white;
    font-size: 18px;
}

.menu-item
{
    display: inline-block;
    width: 150px;
    border-right: 2px white solid;
    padding: 10px;
    text-align: center;
    
}

.menu-item:hover
{
    opacity: 0.8;
    cursor: pointer;
}

.header-div3
{
    background-color: white;
    font-size: 48px;
    margin-bottom: 20px;
    margin-top: 20px;
    padding: 20px;
    border-left: 8px black solid;
}

main
{
    margin-top: 20px;
}

.nav
{
    float: left;
    width: 21%;
    background-color: white;
    margin-right: 20px;
    background-color: rgb(156, 230, 243);
    padding-right: 20px;
    box-shadow: 4px 4px rgb(86, 205, 235);
    
}

.nav-item
{
    width: 100%;
    padding-top: 20px;
    border-bottom: grey 1px solid;
    padding-left: 20px;
    padding-bottom: 10px;
    font-size: 18px;
    
}

.nav-item:hover
{
    background-color: rgb(76, 218, 243);
    cursor: pointer;
    transition: 0.6s ease;
}

.content
{
    float: left;
    width: 73.5%;
    background-color: white;
    padding: 20px;
    
}

.heading
{
    border-left: 5px black solid;
    padding-left: 10px;
    font-size: 32px;
}

.content p
{
    text-align: justify;
}

.image-holder
{
    text-align: center;

}

footer
{
    margin-top: 20px;
    margin-bottom: 10px;
    padding: 20px;
    background-color: blue;
    color: white;
    text-align: center;
}

main
{
    overflow: hidden;
}
